<div class="panel panel-default">
  <div class="category-panel">    
  
    <%# This line will get replace with categories from Sport Table in data  %>
    <% @categories.each do |cat| %>
      <div class="category-panel-body">    
        <%= link_to(image_tag("#{cat.downcase}.png",class: "cat-img-top", alt: "category image"), trainers_path) %>
          <h3 class="category-title text-center"><%= cat.capitalize %></h3>
      </div>
    <% end %>
  </div>
</div>

