<div class="center jumbotron">
  <h1 class="display-4"> 

        Discover Your Next Personal Trainer
   
  
            
  </h1>
    <div class="search">
      <%= form_tag(trainers_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Where do you live", class: "text-field" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-normal" %>
  <% end %>
  </div>
  <p class="lead"></p>

  <p></p>
 
</div>

<%# LOADING IN CATEGORY PARTIAL  %>
<%= render 'categories' %>



