.category-panel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: first baseline;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.category-panel-body {
    flex-basis: 33%;
    // box-shadow: 0px 0px 7px gray;
    text-align: center;
    margin: 25px auto;
}

.category-title {
    margin-top: 10px;
    font-size: 16px;
}