 $navbar-default-bg: #08088A;
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "toastr";

 body{
     box-sizing: border-box;
     color: #565a5c;
     background-color: #f8f8f8;
     font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 }
 hr { margin-top: 0px;}
 a {
     color: #00a699;
 }

 .container{
     width: 80%;
 }

 // navbar

.navbar-default {
    background-color: #fff;
}

.text-babu, .icon-babu {
    color: #00A699;
}

.navbar-default .navbar-brand {
    color: #ff5a5f;
    font-size: 2em;
    font-weight: 400;
}
// buttons 
.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn {
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding:9px 27px;
}

.btn-small {
    padding: 5px 15px;
    margin-top: 15px;

}

.btn:hover, .btn:focus{
    color: #fff;
}
.btn.btn-default {
    width: 100%;
    border-color: #c4c4c4;
    background: #fff;
    color: #484848;
    border-radius : 2px;
    padding: 10px 0;
    margin-top: 10px;
}



.btn.btn-normal {
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
}

.btn.btn-normal:active {
    outline: none;
    border-color: #e00007;
    background-color: #e00007;
    
}
.btn.btn-form {
    border: 1px solid #00a699;
    background-color: #00a699;
}

.btn.btn-form:active {
    outline: none;
    border-color: #066165;
    background-color: #066165;
    
}
.btn.btn-facebook{
    border: 1px solid #385998;
    background-color: #385998;
}

.btn.btn-facebook:active {
    outline: none;
    border-color: #2d467b;
    background-color: #2d467b;
    
}

 #logo {

    font-size: 1.7em;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: .5px; 
    font-weight: bold;
    font-style: italic;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 224px;
    display: inline-block;
    
    
 }
 .navbar-inverse .trainer{
     background-color: #fff;
     color: #DD2225 !important;
     margin-right: 10px;
 }
  .navbar-inverse .trainer:hover{
     background-color: #fff !important;
     color:#9d9d9d !important;

 }
 .navbar-inverse .navbar-nav > li > a {
     font-size: 15px;
     font-weight: bold;
     color: #fff;
     text-transform: uppercase;
 }
 .navbar-inverse .navbar-nav > li > a:hover{

    color:#9d9d9d;
 }
 .navbar{

    margin-bottom:1px;
 }
.main{
    padding-bottom: 25px;
    padding-top:15px;
  
    -webkit-box-shadow: 1px 7px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 7px 28px 0px rgba(0,0,0,0.75);
box-shadow: 1px 7px 28px 0px rgba(0,0,0,0.75);
}
 .nav-link {
     padding-top: 15px;
     background: #326fae;
     height: 80px;
     -webkit-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
     box-shadow: -1px 7px 12px 0px rgba(0,0,0,0.75);
 }

.display-4 {
    font-size: 20px;
    color:#326fae;
    font-weight:bold;
}
 .jumbotron{
    color:#fff;
    background: url(sports.jpg);
    background-size: cover;
    height: 650px;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
 }

 .center{
     text-align:center;
 }


 .footer{
     background-color:#326fae;
   height: 200px;
   color: #fff;
   text-align: center;
   padding-top:20px;
   margin-top: 45px;
 }

 

 .footer a{
     color:#fff;
 }